.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
  text-align: center;
}
mat-card {
  margin-bottom: 20px;
}
mat-checkbox {
  margin: 10px 0 20px 0;
}
mat-slider {
  width: 100%;
}
.buttons {
  margin: 20px 0px;
}

.branding {
  cursor: pointer;
  overflow: hidden;
  padding-top: 4px;
  text-overflow: ellipsis;

  &.center {
    text-align: center;
  }

  img {
    position: relative;
    top: -2px;
    width: 144px;
    height: 72px;
  }
}
